In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\talar\anaconda3\pythonds\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\talar\anaconda3\pythonds\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\talar\anaconda3\pythonds\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\talar\anaconda3\pythonds\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\talar\anaconda3\pythonds\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\talar\anaconda3\pythonds\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

In [10]:
dataset = pd.read_csv(r"C:\Users\Talar\OneDrive\Desktop\python\student_health_data.csv")

# Cleaning Data Using Pandas

In [17]:
dataset.head()       #top of dataset

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate

In [18]:
dataset.head(15)

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate
5,6,22,M,61.744152,90.000000,84.450865,4.262518,6.825001,Moderate,Good,Happy,44.948229,15.651195,Moderate
6,7,22,F,93.097228,106.677782,76.499815,8.415979,1.402915,Moderate,Moderate,Happy,10.269850,23.818096,Moderate
7,8,24,F,63.361031,115.396783,70.039502,2.836789,1.486429,Low,Good,Neutral,39.641788,19.315439,Low
8,9,19,F,81.671029,142.820977,74.676877,5.221367,5.115074,Moderate,Moderate,Neutral,37.211195,8.854986,Moderate
9,10,20,M,86.211086,112.635938,91.951392,8.208448,5.946601,Moderate,Moderate,Happy,33.195541,19.744741,Moderate
10,11,24,F,54.300397,127.678861,81.161731,2.621428,8.990359,High,Moderate,Happy,24.772251,21.214005,Moderate
11,12,20,M,70.739630,117.475376,71.551015,1.988768,1.941946,Moderate,Good,Stressed,35.027973,23.088585,Low
12,13,20,F,64.824663,138.396077,84.015606,8.953156,8.403831,Moderate,Good,Neutral,40.484849,12.992542,High
13,14,22,F,64.010756,137.356446,84.683156,4.086367,2.890426,Moderate,Moderate,Neutral,20.141895,12.627748,Low
14,15,21,F,75.553768,137.642627,85.199991,7.154831,4.546753,High,Moderate,Neutral,39.763737,10.290925,Moderate

In [22]:
dataset.tail()    #bottom dataset

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
995,996,23,F,68.185217,126.031324,69.156288,8.318278,6.841725,Moderate,Moderate,Stressed,30.554113,9.491591,Moderate
996,997,18,F,77.720216,100.627116,75.569051,6.295881,4.152130,High,Poor,Happy,29.285850,22.819961,High
997,998,24,M,85.313237,124.362792,91.817614,2.896868,9.253887,Moderate,Good,Happy,15.330941,19.010784,Moderate
998,999,21,M,79.212477,106.370246,77.218808,3.130484,2.205774,Low,Poor,Neutral,31.921143,9.159565,Low
999,1000,23,F,64.576277,109.274277,76.628119,6.652274,7.043606,Moderate,Good,Happy,30.944070,20.068335,Moderate

In [23]:
dataset.tail(15)

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
985,986,19,M,72.686614,125.174175,65.239329,1.179756,6.168642,High,Poor,Happy,28.495301,12.298142,High
986,987,19,F,71.035441,123.929255,76.195927,6.279416,6.598265,Moderate,Poor,Happy,35.205989,2.571681,Moderate
987,988,23,M,50.000000,101.173384,76.690218,5.098554,5.551681,Low,Poor,Stressed,19.750505,9.802483,Moderate
988,989,24,M,69.814420,114.732057,82.789918,5.662138,8.353919,High,Poor,Neutral,18.324809,10.806863,High
989,990,20,M,80.761463,160.270114,88.618168,1.067168,8.749079,High,Poor,Stressed,38.108637,12.299347,High
990,991,20,F,66.008881,101.500968,67.506048,4.804180,6.540620,Low,Good,Stressed,39.376148,11.389304,Moderate
991,992,24,F,63.471032,129.910851,68.920170,7.462613,1.114808,Moderate,Moderate,Neutral,25.092080,19.915251,Moderate
992,993,19,F,56.222992,90.000000,65.980919,4.984243,7.257067,Moderate,Good,Happy,22.508789,11.124262,Moderate
993,994,21,F,51.420080,132.956877,93.201842,7.589973,4.761993,Moderate,Poor,Neutral,41.475665,11.496868,Moderate
994,995,18,F,78.313493,106.615119,82.976049,3.097171,6.090017,Low,Moderate,Happy,22.847375,15.778271,Moderate
995,996,23,F,68.185217,126.031324,69.156288,8.318278,6.841725,Moderate,Moderate,Stressed,30.554113,9.491591,Moderate
996,997,18,F,77.720216,100.627116,75.569051,6.295881,4.152130,High,Poor,Happy,29.285850,22.819961,High
997,998,24,M,85.313237,124.362792,91.817614,2.896868,9.253887,Moderate,Good,Happy,15.330941,19.010784,Moderate
998,999,21,M,79.212477,106.370246,77.218808,3.130484,2.205774,Low,Poor,Neutral,31.921143,9.159565,Low
999,1000,23,F,64.576277,109.274277,76.628119,6.652274,7.043606,Moderate,Good,Happy,30.944070,20.068335,Moderate

In [24]:
dataset.describe()   #statical describe of numeric,values..etc

,Student_ID,Age,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Study_Hours,Project_Hours
count,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,20.9600,70.101863,119.835380,79.854756,5.483909,5.361601,30.227037,14.887368
std,288.819436,2.0036,9.544663,14.604307,9.641699,2.596108,2.550382,10.341060,4.888624
min,1.000000,18.0000,50.000000,90.000000,60.000000,1.008491,1.002186,5.000000,0.000000
25%,250.750000,19.0000,63.347970,109.386868,73.115420,3.270567,3.172409,23.262704,11.573503
50%,500.500000,21.0000,70.330916,120.051654,79.651738,5.368891,5.234889,30.432767,14.765873
75%,750.250000,23.0000,76.425149,130.397799,86.535640,7.674233,7.471178,37.245193,18.159167
max,1000.000000,24.0000,99.650104,165.929204,107.659796,9.994153,9.964115,60.000000,32.720325

In [25]:
dataset.info()   #missing values and data size of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Student_ID                1000 non-null   int64
 1   Age                       1000 non-null   int64
 2   Gender                    1000 non-null   object
 3   Heart_Rate                1000 non-null   float64
 4   Blood_Pressure_Systolic   1000 non-null   float64
 5   Blood_Pressure_Diastolic  1000 non-null   float64
 6   Stress_Level_Biosensor    1000 non-null   float64
 7   Stress_Level_Self_Report  1000 non-null   float64
 8   Physical_Activity         1000 non-null   object
 9   Sleep_Quality             1000 non-null   object
 10  Mood                      1000 non-null   object
 11  Study_Hours               1000 non-null   float64
 12  Project_Hours             1000 non-null   float64
 13  Health_Risk_Level         1000 non-null   object
dtypes: float64(7), int64(2), object(5)
memory usage: 109.5+ KB

In [27]:
print(dataset.shape)  #get of row and coloums

(1000, 14)

In [30]:
dataset.columns     #convert list using list function

Index(['Student_ID', 'Age', 'Gender', 'Heart_Rate', 'Blood_Pressure_Systolic',
       'Blood_Pressure_Diastolic', 'Stress_Level_Biosensor',
       'Stress_Level_Self_Report', 'Physical_Activity', 'Sleep_Quality',
       'Mood', 'Study_Hours', 'Project_Hours', 'Health_Risk_Level'],
      dtype='object')

# Checking for missing values in pandas:

In [32]:
dataset.isnull()    #null is no value in dataset its means flase

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [33]:
dataset.isnull().any()   #contains of null value will showing of dataset

Student_ID                  False
Age                         False
Gender                      False
Heart_Rate                  False
Blood_Pressure_Systolic     False
Blood_Pressure_Diastolic    False
Stress_Level_Biosensor      False
Stress_Level_Self_Report    False
Physical_Activity           False
Sleep_Quality               False
Mood                        False
Study_Hours                 False
Project_Hours               False
Health_Risk_Level           False
dtype: bool

In [35]:
dataset.isnull().sum()  #finding of null values and adding values

Student_ID                  0
Age                         0
Gender                      0
Heart_Rate                  0
Blood_Pressure_Systolic     0
Blood_Pressure_Diastolic    0
Stress_Level_Biosensor      0
Stress_Level_Self_Report    0
Physical_Activity           0
Sleep_Quality               0
Mood                        0
Study_Hours                 0
Project_Hours               0
Health_Risk_Level           0
dtype: int64

# Slicing and extracting data in pandas

In [39]:
dataset['Age'].head()

0    24
1    21
2    22
3    24
4    20
Name: Age, dtype: int64

In [50]:
dataset[['Heart_Rate','Age']].head()

   Heart_Rate  Age
0   50.663217   24
1   57.926042   21
2   59.294219   22
3   76.826232   24
4   68.342769   20

In [51]:
dataset[dataset.index==4]

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.48345,Moderate,Poor,Happy,8.964999,15.194045,Moderate

In [52]:
dataset[dataset.index==100]

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
100,101,23,F,77.321236,124.377926,63.509666,7.36551,9.152645,High,Moderate,Happy,26.308727,16.108854,High

In [54]:
dataset[dataset.index.isin(range(27))]    #in dataset are range upto student id

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate
5,6,22,M,61.744152,90.000000,84.450865,4.262518,6.825001,Moderate,Good,Happy,44.948229,15.651195,Moderate
6,7,22,F,93.097228,106.677782,76.499815,8.415979,1.402915,Moderate,Moderate,Happy,10.269850,23.818096,Moderate
7,8,24,F,63.361031,115.396783,70.039502,2.836789,1.486429,Low,Good,Neutral,39.641788,19.315439,Low
8,9,19,F,81.671029,142.820977,74.676877,5.221367,5.115074,Moderate,Moderate,Neutral,37.211195,8.854986,Moderate
9,10,20,M,86.211086,112.635938,91.951392,8.208448,5.946601,Moderate,Moderate,Happy,33.195541,19.744741,Moderate
10,11,24,F,54.300397,127.678861,81.161731,2.621428,8.990359,High,Moderate,Happy,24.772251,21.214005,Moderate
11,12,20,M,70.739630,117.475376,71.551015,1.988768,1.941946,Moderate,Good,Stressed,35.027973,23.088585,Low
12,13,20,F,64.824663,138.396077,84.015606,8.953156,8.403831,Moderate,Good,Neutral,40.484849,12.992542,High
13,14,22,F,64.010756,137.356446,84.683156,4.086367,2.890426,Moderate,Moderate,Neutral,20.141895,12.627748,Low
14,15,21,F,75.553768,137.642627,85.199991,7.154831,4.546753,High,Moderate,Neutral,39.763737,10.290925,Moderate
15,16,20,M,63.771295,93.990247,70.221628,1.228137,3.849422,High,Poor,Happy,39.308745,16.540637,High
16,17,23,F,65.040310,123.100861,73.176090,7.210422,4.601397,Moderate,Good,Happy,32.930511,18.664338,Moderate
17,18,22,F,68.318851,131.384079,73.231708,3.844912,2.354459,Moderate,Moderate,Happy,24.620251,12.433354,Low
18,19,19,M,66.266007,125.723078,76.393521,1.501668,5.532131,Moderate,Good,Stressed,39.354574,14.290924,Moderate
19,20,21,F,58.264298,129.548945,85.389192,6.488315,8.214783,Moderate,Good,Stressed,35.083130,4.731411,Moderate
20,21,23,M,77.959065,120.875265,82.961848,3.167234,4.973806,Low,Moderate,Neutral,19.840403,22.547245,Low
21,22,23,F,80.485309,108.828237,83.752170,4.481265,5.415522,Moderate,Moderate,Happy,26.326442,7.175118,Moderate
22,23,19,M,73.436186,94.543539,93.540191,1.725227,8.638908,Low,Good,Happy,38.190549,16.873899,Moderate
23,24,21,M,66.234473,110.316459,86.888909,2.324469,7.354523,High,Good,Happy,31.145806,16.191274,Moderate
24,25,22,F,62.947893,160.171648,78.581984,3.681795,5.414090,Moderate,Poor,Neutral,40.859829,15.229040,Moderate
25,26,18,M,62.963799,112.715232,68.161148,1.807836,3.319261,High,Moderate,Happy,26.583533,15.343984,Low
26,27,21,M,93.573764,90.609147,72.854530,9.197436,8.964341,Moderate,Moderate,Stressed,20.001047,9.941094,High

In [56]:
dataset[dataset.index.isin(range(10,20))]      #in last value are n-1

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
10,11,24,F,54.300397,127.678861,81.161731,2.621428,8.990359,High,Moderate,Happy,24.772251,21.214005,Moderate
11,12,20,M,70.739630,117.475376,71.551015,1.988768,1.941946,Moderate,Good,Stressed,35.027973,23.088585,Low
12,13,20,F,64.824663,138.396077,84.015606,8.953156,8.403831,Moderate,Good,Neutral,40.484849,12.992542,High
13,14,22,F,64.010756,137.356446,84.683156,4.086367,2.890426,Moderate,Moderate,Neutral,20.141895,12.627748,Low
14,15,21,F,75.553768,137.642627,85.199991,7.154831,4.546753,High,Moderate,Neutral,39.763737,10.290925,Moderate
15,16,20,M,63.771295,93.990247,70.221628,1.228137,3.849422,High,Poor,Happy,39.308745,16.540637,High
16,17,23,F,65.040310,123.100861,73.176090,7.210422,4.601397,Moderate,Good,Happy,32.930511,18.664338,Moderate
17,18,22,F,68.318851,131.384079,73.231708,3.844912,2.354459,Moderate,Moderate,Happy,24.620251,12.433354,Low
18,19,19,M,66.266007,125.723078,76.393521,1.501668,5.532131,Moderate,Good,Stressed,39.354574,14.290924,Moderate
19,20,21,F,58.264298,129.548945,85.389192,6.488315,8.214783,Moderate,Good,Stressed,35.083130,4.731411,Moderate

# Using of .loc[] And .iloc[] of fetch rows

In [57]:
dataset.loc[10]

Student_ID                          11
Age                                 24
Gender                               F
Heart_Rate                   54.300397
Blood_Pressure_Systolic     127.678861
Blood_Pressure_Diastolic     81.161731
Stress_Level_Biosensor        2.621428
Stress_Level_Self_Report      8.990359
Physical_Activity                 High
Sleep_Quality                 Moderate
Mood                             Happy
Study_Hours                  24.772251
Project_Hours                21.214005
Health_Risk_Level             Moderate
Name: 10, dtype: object

In [59]:
dataset.loc[100]

Student_ID                         101
Age                                 23
Gender                               F
Heart_Rate                   77.321236
Blood_Pressure_Systolic     124.377926
Blood_Pressure_Diastolic     63.509666
Stress_Level_Biosensor         7.36551
Stress_Level_Self_Report      9.152645
Physical_Activity                 High
Sleep_Quality                 Moderate
Mood                             Happy
Study_Hours                  26.308727
Project_Hours                16.108854
Health_Risk_Level                 High
Name: 100, dtype: object

In [58]:
dataset.iloc[20]

Student_ID                          21
Age                                 23
Gender                               M
Heart_Rate                   77.959065
Blood_Pressure_Systolic     120.875265
Blood_Pressure_Diastolic     82.961848
Stress_Level_Biosensor        3.167234
Stress_Level_Self_Report      4.973806
Physical_Activity                  Low
Sleep_Quality                 Moderate
Mood                           Neutral
Study_Hours                  19.840403
Project_Hours                22.547245
Health_Risk_Level                  Low
Name: 20, dtype: object

In [60]:
dataset.iloc[100]

Student_ID                         101
Age                                 23
Gender                               F
Heart_Rate                   77.321236
Blood_Pressure_Systolic     124.377926
Blood_Pressure_Diastolic     63.509666
Stress_Level_Biosensor         7.36551
Stress_Level_Self_Report      9.152645
Physical_Activity                 High
Sleep_Quality                 Moderate
Mood                             Happy
Study_Hours                  26.308727
Project_Hours                16.108854
Health_Risk_Level                 High
Name: 100, dtype: object

In [62]:
dataset.iloc[5:20]

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
5,6,22,M,61.744152,90.000000,84.450865,4.262518,6.825001,Moderate,Good,Happy,44.948229,15.651195,Moderate
6,7,22,F,93.097228,106.677782,76.499815,8.415979,1.402915,Moderate,Moderate,Happy,10.269850,23.818096,Moderate
7,8,24,F,63.361031,115.396783,70.039502,2.836789,1.486429,Low,Good,Neutral,39.641788,19.315439,Low
8,9,19,F,81.671029,142.820977,74.676877,5.221367,5.115074,Moderate,Moderate,Neutral,37.211195,8.854986,Moderate
9,10,20,M,86.211086,112.635938,91.951392,8.208448,5.946601,Moderate,Moderate,Happy,33.195541,19.744741,Moderate
10,11,24,F,54.300397,127.678861,81.161731,2.621428,8.990359,High,Moderate,Happy,24.772251,21.214005,Moderate
11,12,20,M,70.739630,117.475376,71.551015,1.988768,1.941946,Moderate,Good,Stressed,35.027973,23.088585,Low
12,13,20,F,64.824663,138.396077,84.015606,8.953156,8.403831,Moderate,Good,Neutral,40.484849,12.992542,High
13,14,22,F,64.010756,137.356446,84.683156,4.086367,2.890426,Moderate,Moderate,Neutral,20.141895,12.627748,Low
14,15,21,F,75.553768,137.642627,85.199991,7.154831,4.546753,High,Moderate,Neutral,39.763737,10.290925,Moderate
15,16,20,M,63.771295,93.990247,70.221628,1.228137,3.849422,High,Poor,Happy,39.308745,16.540637,High
16,17,23,F,65.040310,123.100861,73.176090,7.210422,4.601397,Moderate,Good,Happy,32.930511,18.664338,Moderate
17,18,22,F,68.318851,131.384079,73.231708,3.844912,2.354459,Moderate,Moderate,Happy,24.620251,12.433354,Low
18,19,19,M,66.266007,125.723078,76.393521,1.501668,5.532131,Moderate,Good,Stressed,39.354574,14.290924,Moderate
19,20,21,F,58.264298,129.548945,85.389192,6.488315,8.214783,Moderate,Good,Stressed,35.083130,4.731411,Moderate

In [64]:
dataset.to_numpy() #simple convert of pandas into numpy

array([[1, 24, 'M', ..., 34.520972884506875, 16.80095639050803,
        'Moderate'],
       [2, 21, 'F', ..., 16.763846015109607, 15.79115434826643,
        'Moderate'],
       [3, 22, 'M', ..., 44.2037984802835, 25.67843704706686, 'Moderate'],
       ...,
       [998, 24, 'M', ..., 15.330940546480807, 19.010783955814063,
        'Moderate'],
       [999, 21, 'M', ..., 31.921142670786686, 9.159565239460758, 'Low'],
       [1000, 23, 'F', ..., 30.944069534041603, 20.068335429334187,
        'Moderate']], dtype=object)

# Missing Values of Dealing in pandas

1.Dropping Missing Values:-

In [66]:
data = dataset.dropna()

In [68]:
data.isnull().sum()  #is no values in dataset

Student_ID                  0
Age                         0
Gender                      0
Heart_Rate                  0
Blood_Pressure_Systolic     0
Blood_Pressure_Diastolic    0
Stress_Level_Biosensor      0
Stress_Level_Self_Report    0
Physical_Activity           0
Sleep_Quality               0
Mood                        0
Study_Hours                 0
Project_Hours               0
Health_Risk_Level           0
dtype: int64

In [69]:
data.shape

(1000, 14)

In [72]:
import pandas as pd

In [80]:
data = pd.read_csv(r"C:\Users\Talar\OneDrive\Desktop\python\student_health_data.csv")

In [81]:
data.head()

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate

In [82]:
data.isnull().sum()

Student_ID                  0
Age                         0
Gender                      0
Heart_Rate                  0
Blood_Pressure_Systolic     0
Blood_Pressure_Diastolic    0
Stress_Level_Biosensor      0
Stress_Level_Self_Report    0
Physical_Activity           0
Sleep_Quality               0
Mood                        0
Study_Hours                 0
Project_Hours               0
Health_Risk_Level           0
dtype: int64

In [84]:
data.shape

(1000, 14)

In [88]:
print(data.isnull().sum())

Student_ID                  0
Age                         0
Gender                      0
Heart_Rate                  0
Blood_Pressure_Systolic     0
Blood_Pressure_Diastolic    0
Stress_Level_Biosensor      0
Stress_Level_Self_Report    0
Physical_Activity           0
Sleep_Quality               0
Mood                        0
Study_Hours                 0
Project_Hours               0
Health_Risk_Level           0
dtype: int64

In [89]:
data.dropna

<bound method DataFrame.dropna of      Student_ID  Age Gender  Heart_Rate  Blood_Pressure_Systolic  \
0             1   24      M   50.663217               122.173015
1             2   21      F   57.926042               110.778407
2             3   22      M   59.294219               109.375673
3             4   24      M   76.826232               125.142227
4             5   20      M   68.342769               107.515592
..          ...  ...    ...         ...                      ...
995         996   23      F   68.185217               126.031324
996         997   18      F   77.720216               100.627116
997         998   24      M   85.313237               124.362792
998         999   21      M   79.212477               106.370246
999        1000   23      F   64.576277               109.274277

     Blood_Pressure_Diastolic  Stress_Level_Biosensor  \
0                   84.419860                3.137350
1                   75.696145                3.699078
2                   83.803814                6.785156
3                   78.091587                6.408509
4                   80.674937                7.264719
..                        ...                     ...
995                 69.156288                8.318278
996                 75.569051                6.295881
997                 91.817614                2.896868
998                 77.218808                3.130484
999                 76.628119                6.652274

     Stress_Level_Self_Report Physical_Activity Sleep_Quality      Mood  \
0                    9.028669              High      Moderate     Happy
1                    5.819697          Moderate          Good  Stressed
2                    5.892360               Low      Moderate     Happy
3                    6.884001              High          Poor     Happy
4                    4.483450          Moderate          Poor     Happy
..                        ...               ...           ...       ...
995                  6.841725          Moderate      Moderate  Stressed
996                  4.152130              High          Poor     Happy
997                  9.253887          Moderate          Good     Happy
998                  2.205774               Low          Poor   Neutral
999                  7.043606          Moderate          Good     Happy

     Study_Hours  Project_Hours Health_Risk_Level
0      34.520973      16.800956          Moderate
1      16.763846      15.791154          Moderate
2      44.203798      25.678437          Moderate
3      21.776645      20.808391              High
4       8.964999      15.194045          Moderate
..           ...            ...               ...
995    30.554113       9.491591          Moderate
996    29.285850      22.819961              High
997    15.330941      19.010784          Moderate
998    31.921143       9.159565               Low
999    30.944070      20.068335          Moderate

[1000 rows x 14 columns]>

2.Replacing of values:

In [90]:
data1 = pd.read_csv(r"C:\Users\Talar\OneDrive\Desktop\python\student_health_data.csv",usecols=['Age','Gender','Heart_Rate'])

In [91]:
data1.head()

   Age Gender  Heart_Rate
0   24      M   50.663217
1   21      F   57.926042
2   22      M   59.294219
3   24      M   76.826232
4   20      M   68.342769

In [93]:
mean_value = data1['Age']

In [94]:
print(mean_value)

0      24
1      21
2      22
3      24
4      20
       ..
995    23
996    18
997    24
998    21
999    23
Name: Age, Length: 1000, dtype: int64

In [97]:
data0 = data.fillna(mean_value)

In [99]:
data.head(10)

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate
5,6,22,M,61.744152,90.000000,84.450865,4.262518,6.825001,Moderate,Good,Happy,44.948229,15.651195,Moderate
6,7,22,F,93.097228,106.677782,76.499815,8.415979,1.402915,Moderate,Moderate,Happy,10.269850,23.818096,Moderate
7,8,24,F,63.361031,115.396783,70.039502,2.836789,1.486429,Low,Good,Neutral,39.641788,19.315439,Low
8,9,19,F,81.671029,142.820977,74.676877,5.221367,5.115074,Moderate,Moderate,Neutral,37.211195,8.854986,Moderate
9,10,20,M,86.211086,112.635938,91.951392,8.208448,5.946601,Moderate,Moderate,Happy,33.195541,19.744741,Moderate

In [102]:
data2 = data.fillna('median')

In [115]:
median_value = data1['Age']

In [116]:
print(median_value)

0      24
1      21
2      22
3      24
4      20
       ..
995    23
996    18
997    24
998    21
999    23
Name: Age, Length: 1000, dtype: int64

3.Duplicate Date :-

In [117]:
data3 = pd.read_csv(r"C:\Users\Talar\OneDrive\Desktop\python\student_health_data.csv",usecols=['Age','Gender','Heart_Rate'])

In [118]:
data.head(5)

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate

In [119]:
data.shape

(1000, 14)

In [125]:
data = data3.drop_duplicates

In [128]:
data3.shape

(1000, 3)

Renaming colunmss

In [130]:
data1 = pd.read_csv(r"C:\Users\Talar\OneDrive\Desktop\python\student_health_data.csv",usecols=['Age','Gender','Heart_Rate'])

In [131]:
data1.rename(columns={'Age':'New_Age'},inplace = True)

In [132]:
data1.head()

   New_Age Gender  Heart_Rate
0       24      M   50.663217
1       21      F   57.926042
2       22      M   59.294219
3       24      M   76.826232
4       20      M   68.342769

In [3]:
#mean 

import pandas as pd
s = pd.Series([39,38,85,73,26,84,62,38])
s.mean()

55.625

In [17]:
df = pd.DataFrame({'a': [1, 2], 'b': [2, 3]}, index=['tiger', 'zebra'])
df.mean()      #With a DataFrame

a    1.5
b    2.5
dtype: float64

In [18]:
df = pd.DataFrame({'a': [1, 2], 'b': ['T', 'Z']},index=['tiger', 'zebra']) 
df.mean(numeric_only=True)               # numeric_only should be set to True to avoid getting an error

a    1.5
dtype: float64

In [19]:
#median

s = pd.Series([39,38,85,73,26,84,62,38])
s.median()

50.5

In [23]:
df = pd.DataFrame({'a': [1, 2], 'b': ['T', 'Z']},index=['tiger', 'zebra'])
df.median(numeric_only=True)

a    1.5
dtype: float64

In [20]:
#mode 
s = pd.Series([39,38,85,73,26,84,62,38])
s.mode()

0    38
dtype: int64